<footer id="main-footer" class="py-4 bg-red text-white text-center ">

Made by Virtual1 - Nov 2018 &copy;


</footer>
	<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<h2>Please share your useful videos!
			</h2>
		<p>There are so many videos on YouTube, it's hard for new developers to determine which videos are good to learn from, which ones are outdated and which ones are just plain <em>bad</em>. Help us out by sharing your wisdom right here. Thank you!!  </p>
	<!-- not linking to social accounts yet. Get the base working first
		<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="Jess@Virtual1.co.za" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
	 -->
		<p class="copyright">&copy; Virtual1. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.
		<br>
		based on Full Motion design by <a href="https://templated.co/">Templated</a> , released under the Creative Commons License.</p>
	</div>
</footer>