{% extends 'base.html' %}
{% block content %}

	<section>
		<div class="container">
			<p>Log In With Google</p>
			<button class="btn red"id="authorize-button">Sign In</button>
			<button class="btn red"id="signout-button">Sign Out</button>
		<br>

			<div id="content">
				<div class="row">
					<div class="col s6">
						<form id="channel-form">
							<div class="input-field col s8">
								<input type="text" placeholder="Looking for?" id="channel-input">
								<input type="submit" value="Get Channel Info" class="btn grey lighten-2">
							</div>
						</form>
					</div>
					<div id="channel-data" class="col s6"></div>
				</div>
				<div class="row" id="video-container"></div>
			</div>
		</div>
	</section>


<!-- Boxes -->
	<div class="thumbnails">

		<div class="box">
			<a href="https://youtu.be/u-RLu_8kwA0" class="image fit"><img src="{% static 'img/JoshuaFluke.jpg' %}" alt="" /></a>
			<div class="inner">
				<h3>Joshua Fluke</h3>
				<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
				<a href="https://www.youtube.com/channel/UC-91UA-Xy2Cvb98deRXuggA" class="button fit" data-poptrox="youtube,800x400">Watch</a>
			</div>
		</div>

		<div class="box">
			<a href="https://youtu.be/V_NZxfpEZhI" class="image fit"><img src="{% static 'img/TraversyMedia.jpg' %}" alt="" /></a>
			<div class="inner">
				<h3>Traversy Media</h3>
				<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
				<a href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
			</div>
		</div>

		<div class="box">
			<a href="https://youtu.be/UtiXY4H55Nc" class="image fit"><img src="{% static 'img/RealToughCandy.jpg'%}" alt="" /></a>
			<div class="inner">
				<h3>RealToughCandy</h3>
				<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
				<a href="https://www.youtube.com/channel/UC54NcJvLCvM2CNaBjd5j6HA" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
			</div>
		</div>

		<div class="box">
			<a href="https://youtu.be/cEGIFZDyszA" class="image fit"><img src="{% static 'img/TheNewBoston.jpg'%}" alt="" /></a>
			<div class="inner">
				<h3>The New Boston</h3>
				<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
				<a href="https://www.youtube.com/user/thenewboston" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
			</div>
		</div>

		<div class="box">
			<a href="https://youtu.be/WyJofPENp1A" class="image fit"><img src="{% static 'img/BradHussey.jpg'%}" alt="" /></a>
			<div class="inner">
				<h3>Brad Hussey</h3>
				<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
				<a href="https://www.youtube.com/user/hussey17/" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
			</div>
		</div>

		<div class="box">
			<a href="https://youtu.be/cs_NCpJF-KQ" class="image fit"><img src="{% static 'img/StefanMischook.jpg' %}" alt="" /></a>
			<div class="inner">
				<h3>Stefan Mischook</h3>
				<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
				<a href="https://www.youtube.com/user/killerphp" class="button fit" data-poptrox="youtube,800x400">Watch</a>
			</div>
		</div>

		<div class="box">
			<a href="https://youtu.be/7HjI1t0WbkM" class="image fit"><img src="{% static 'img/CodingPhase.jpg' %}" alt="" /></a>
			<div class="inner">
				<h3>Coding Phase</h3>
				<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
				<a href="https://www.youtube.com/channel/UC46wWUso9H5KPQcoL9iE3Ug" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
			</div>
		</div>

		<div class="box">
			<a href="https://youtu.be/LFWAOTMj7Yo" class="image fit"><img src="{% static 'img/JonasS.jpg' %}" alt="" /></a>
			<div class="inner">
				<h3>Jonas Schmedtmann</h3>
				<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
				<a href="https://www.youtube.com/channel/UCNsU-y15AwmU2Q8QTQJG1jw/about" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
			</div>
		</div>

		<div class="box">
			<a href="https://youtu.be/eXBD2bB9-RA" class="image fit"><img src="{% static 'img/Sentdex.jpg' %}" alt="" /></a>
			<div class="inner">
				<h3>Sentdex</h3>
				<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
				<a href="https://youtu.be/eXBD2bB9-RA" class="button fit" data-poptrox="youtube,800x400">Watch</a>
			</div>
		</div>

	</div>


{% endblock %}